h1{
  font-family: Georgia;
  margin: .5em 0 .5em 0;

}

.row{
  display: flex;
}
.square{
  border-radius: 2px;
  border: 1px solid #A7565F;
  padding-top: 16%;
  margin: 1px;
  background-color: #FA7F52;
}

.active{
  background-color: #FDA170;
}
.container-fluid{
  margin-top: 1px;
  max-width:450px;
  max-height:450px;
}
